/* * {
  outline: thin black solid;
} */

body {
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  width: 960px;
  margin: 0px auto;
}

button {
  font-family: fantasy;
  height: 50px;
  width: 200px;
  font-size: 15pt;
}

header {
  height: 100px;
  text-align: center;
}

p {
  outline: none;
  margin: 10px 0px;
}

h1 {
  margin: 0px auto;
  font-size: 3em;
}

#images {
  padding-left: 200px;
}

#images,
#results {
  display: none;
}

#one,
#two,
#three {
  text-align: center;
  width: 200px;
  max-height: 300px;
  /* height: 100px; */
}
